// colors
$main-bg: #070724;

$mercury-color: #419ebb;
$mercury-bg: #def4fc;

$venus-color: #eda249;
$venus-bg: #f7cc7f;

$earth-color: #6f2ed6;
$earth-bg: #545bfe;

$mars-color: #d14c32;
$mars-bg: #ff6a45;

$jupiter-color: #d83a34;
$jupiter-bg: #ecad7a;

$saturn-color: #cd5120;
$saturn-bg: #fccb6b;

$uranus-color: #1ec2a4;
$uranus-bg: #65f0d5;

$neptune-color: #2d68f0;
$neptune-bg: #497efa;

$border-h: #ffffff33;
$border-c: #ffffff4d;
$white: #fff;

// family
$family: "League Spartan", sans-serif;
$size: 18px;
